@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.mobile-hero-bg {
  background-color: #0158be;
  color: white;
  text-align: center;
}

.main-title-mobile {
  font-size: 2rem; /* Ganti sesuai kebutuhan */
  font-weight: bold; /* Ganti sesuai kebutuhan */
}

.body-1 {
  font-size: 1rem; /* Ganti sesuai kebutuhan */
}

.desc-mobile {
  margin-top: 0.5rem; /* Ganti sesuai kebutuhan */
}
.v-btn {
  border-radius: 8px; /* Sesuaikan border radius */
  padding: 10px 20px; /* Tambahkan padding yang sesuai */
}
